$day-size: 100px;
$day-margin: 1px;
$day-border: 1px;
$day-bg: #eee;
$day-hover-bg: #ffbfcb;
$day-font: 'Arial', sans-serif;
$day-font-size: 30px;
$padding: 10px;
$transition-time: 0.5s;
$hover-translate: -20px;
